<div class="dashboard-title">
    <h3>Raspberry-Pi Senz</h3>


</div><br>

<div class="row" ng-controller="dashController">
    <div>

        <article data-ng-repeat="item in dataItems | filter: {img :'rpi'}" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

            <div class="device">
                <div class="thumbnail" id="event-panel">
                    <img ng-src="images/{{item.img}}.png" alt="">
                    <div class="caption maxheight">
                        <div class="box_inner">
                            <h3 class="title" itemprop="name">{{item.name}}</h3>
                            <i class="title-body">
                                <i class="fa {{item.Nimg}} fa-lg" aria-hidden="true"></i><span > {{item.serial}}</span> &nbsp;
                                <div class="row press" style="margin-left: 0;">


                                    <input type="checkbox" id="{{item.serial}}" ng-model="item.status" ng-true-value="'Active'" ng-false-value="'Inactive'" class="cbx hidden"/>
                                    <label for="{{item.serial}}" class="lbl"></label>

                                </div></i>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </div>
</div>